.hotels {
  margin: 0 auto;
  background: #eaf0f9;
}
.hotels__title {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  padding-top: 120px;
  padding-bottom: 105px;
  margin: 0;
  color: #383838;
}
.hotels__carrousel {
  display: flex;
  justify-content: space-around;
  padding-bottom: 120px;
}
.hotels__carrousel_img {
  width: 296px;
  height: 296px;
  object-fit: cover;
}
.available-hotel__link {
  text-decoration: none;
}
.hotels__carrousel_p-name {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #3077c6;
}
.hotels__carrousel_p-place {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #bfbfbf;
}

.available-hotel__item {
  margin: 0 auto;
  background: #d2e2fa;
  display: flex;
  justify-content: space-around;
  padding: 100px;
}
.available-hotel__item div:first-child {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.available-hotel__description {
  border-radius: 8px;
  background: #eaf0f9;
  align-self: flex-end;
  padding: 20px 25px;
}
.available-hotel__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  padding-bottom: 50px;
  margin: 0;
  color: #10367c;
}
.available-hotel_p-place {
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  color: #8e8e8f;
  margin: 0;
}
.available-hotel_img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}
.available-hotel__btn-back {
  border-radius: 8px;
  border: none;
  height: 50px;
  width: 130px;
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
  cursor: pointer;
  border: solid 1px #ffffff;
  background: #65a5eed8;
  color: #ffffff;
  align-self: flex-start;
}
.available-hotel__btn-book {
  position: absolute;
  border-radius: 8px;
  border: solid 1px #65a5eed8;
  height: 50px;
  width: 130px;
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
  cursor: pointer;
  color: #65a5eed8;
  background: #ffffff;
}
.available-hotel__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
